*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

header{
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header a {
    padding: 1rem;
}

a.nav.nav {
    background: rgb(255, 152, 174);
    transition: 0.5s;
    border-radius: .8rem;
    color: white;
}

.nav{
    margin: 10px;
}

.header-image{
    margin: 10px;
    width: 80px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(255, 152, 174);
}
body{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.first-section{
    width: 80vw;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 48px;
    display: flex;
}

.form-label{
    background-color: white;
    color: dimgrey;
    padding-top: 10px;    
    text-align: center;
    padding: 20px 0 0 0;
}

.main-div{
    padding-top: 48px;
}

.bg-image{
    width: fit-content;
}
.second-section{
    margin: 3rem;
    padding: 48px;
    width: 100vw;
    background-color: pink;
    align-self: center;
    display: flex;
    justify-content: space-around;
}
.detail-div{
    width: 80vw;
    align-self: center;
}

footer{
    padding-top: 10px;
    width: 80vw;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    margin: 1rem;
}

ul{
    list-style: none;
}

.socia-list{
    display: flex;
    flex-direction: row;
}

.icon {
    padding: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    background-color: pink;
    cursor:pointer;
}

.fa{
    color: white;
    font-size: 15px;
}

.fa:hover {
    opacity: 0.7;
}

.title-label{
    color:dimgrey;
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    font-weight: bold;
}

.description-label{
    color: dimgrey;
    padding-top: 25px;
    font-family: 'Roboto', sans-serif;
}

.detail-text{
    color: dimgrey;
}

form {
    margin-top: 48px;
    border: 4px solid #f1f1f1;
}
  
.container {
    padding: 20px;
    background-color: #f1f1f1;
}
  
input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
  /* Style the submit button */
input[type=submit] {
    background-color: pink;
    color: white;
    border: none;
}
  
input[type=submit]:hover {
    opacity: 0.8;
}